:root{
    background-color: #1B2631  ;
}
img{
    max-width: 400px;
    display: block;
    margin:auto;
}

.photo{
    max-width: 100px;
}
.card{
    background-color:#34495E;
    border: 7px solid #2E4053;
    max-width: 600px;
    margin:30px auto;
    border-radius: 50px;
    padding: 10px;
}
h1{
    text-align: center;
}
p{
    padding: 20px;
    text-align: justify;
}
th,td{
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}
table{  
    padding: 20px;
    border-collapse: collapse;
    margin: auto;
}
iframe{
    display: block;
    margin: auto;
    border-radius: 50px;
    max-width: 500px;
    padding: 10px;
}